GLLUE_DB_HOST=127.0.0.1
GLLUE_DB_PORT=3306
GLLUE_DB_NAME=gllue
GLLUE_DB_USER=changeme
GLLUE_DB_PASSWORD=changeme
GLLUE_SSH_HOST=118.190.96.172
GLLUE_SSH_PORT=9998
GLLUE_SSH_USER=root
GLLUE_SSH_PASSWORD=changeme
